################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LottoSpider/v14
/bin/Debug
/obj/Debug
/LottoSpider/
